@font-face {
    font-family: "Jubilee";
    src: url(../assets/fonts/OTJubilee-Silver.woff);
    font-weight: 400;
}


@font-face {
    font-family: "Jubilee Platinum";
    src: url(../assets/fonts/OTJubilee-Platinum.woff);
    font-weight: 400;
}

/*  CSS variables learned from Mozilla docs
    https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
    --bg-color1: #283C2F;
    --bg-color2: #B4C5B1;
    --text-primary: #f8f8f8;
    ---text-secondary: #555555;
    --accent1: #F36364;
    --accent2: #AF5652;
    --accent3: #6C4941;
}

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Jubilee";
    line-height: 1;
    position: relative;
    background: var(--bg-color1);
    color: var(--text-primary);
    padding-bottom: 4rem;
}

h1, h2, h3, h4, h5, h6, p{
    margin-top: 0;
    margin-bottom: 0.25rem;
    font-weight: 400;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4{
    font-family: "Jubilee Platinum";
}

h1, .h1{
    font-size: 7.5vw;
    margin-bottom: 0.5rem;
    grid-column: 1/-1;
}

h2, .h2{
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

h3, .h3{
    font-family: "Jubilee";
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

h4, .h4{
    font-family: "Jubilee";
    font-size: 2rem;
    margin-bottom: 0.5rem;
}


p{
    line-height: 1.375;
    margin-bottom: 1rem;
}

body:not(.style) main > header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background: var(--bg-color1);
    z-index: 50;
}

body.style main > header,
main > section{
    grid-column: 1/-1;
    padding: 1rem;
}

body:not(.style) main > section{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: 1fr;
    gap: 1rem;
}

img{
    width: 100%;
    height: auto;
}


.nav__overlay{
    display: flex;
    /* position: relative; */
    justify-content: space-between;;
    align-items: center;
    overflow: auto;
}

.nav .nav__overlay .nav__overlay__logo {
    font-family: "Jubilee Platinum";
    font-size: 1.25rem;
    text-transform: lowercase;
    text-decoration: none;
    color: var(--text-primary);
}

.nav .nav__overlay__wrapper{
    display: none;
    position: fixed;
    padding: 2rem 1rem;

    flex-direction: column;
    /* justify-content: end; */

    gap: 2rem; 
    top: 0;
    margin-top: 3.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background: var(--bg-color1);
}

.nav .nav__overlay__wrapper .nav__overlay__wrapper__items{
    display: flex;
    flex-direction: column;

    gap: 2rem; 
    width: fit-content;

}

.nav .nav__overlay__wrapper hr.nav__overlay__wrapper__divider{
    display: block;
    color: var(--text-primary);
    width: 100%;
    max-width: 4rem;
    margin-inline: 0;
    
}
.nav .nav__overlay__wrapper .nav__overlay__wrapper__items,
.nav .nav__overlay__wrapper .nav__overlay__wrapper__items ul {
    display: flex;
    list-style-type: none;
    margin-block: 0;
    margin-inline: 0;
    padding-inline-start: 0;
    flex-direction: column;
    /* justify-content: end; */
    text-transform: lowercase;
    gap: 1rem; 
}

.nav .nav__overlay__wrapper .nav__overlay__wrapper__items h2{
    font-size: 1rem;
}

.nav .nav__overlay__wrapper.nav__overlay__wrapper--active{
    display: flex;
    overflow: auto;
}

.nav .nav__overlay__wrapper .nav__overlay__wrapper__items .nav__overlay__wrapper__items__group a{
    display: block;
    color: var(--text-primary);
    opacity: 63%;
    width: 100%;
}

.nav .nav__overlay button.nav__overlay__menu{
    display: block;
    padding: 0;
    line-height: 1;
    background: none;
    border: none;
    cursor: pointer;
}

.nav .nav__overlay button.nav__overlay__menu svg{
    display: none;
    fill: var(--text-primary);
}

.nav .nav__overlay button.nav__overlay__menu svg.nav__overlay__menu__img--active{
    display: block;
}

main > section.hero{
    min-height: calc(100vh - 4rem);
    align-items: end;
    transition: background 0.3s ease;
}

main > section.hero.hero--active{
    background: white;
}


main > section.hero .hero__location{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0rem;
    padding: 1rem;
    background: var(--bg-color1);
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap : 0.5rem;
}

main > section.hero .hero__location a{
    grid-column: 2/-1;
}

main > section.news{
    min-height: 200vh;
    position: relative;
}

main > section.news .news__nav{
    position: sticky;
    top: 8rem;
    height: fit-content;
}

main > section.news .news__item{
    grid-column: 1/-1;
    min-height: 1rem;
}

main > section[id] .container .container__desc .container__desc__divider{
    color: var(--text-primary);
    width: 100%;
}

main > section[id] .container .container__desc{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

main > section[id] .container .container__display{
    margin-bottom: 2rem;
}

main > section[id] .container .container__display.container__display--type{
    margin-bottom: 2rem;
}

main > section[id] .container .container__display.container__display--type span,
main > section[id] .container .container__display.container__display--color span{
    display: block;
    grid-column: 1/-1;;
    overflow: hidden;
    line-height: 1.25;;
}

main > section[id] .container .container__display.container__display--type span sub,
main > section[id] .container .container__display.container__display--type span sup{
    font-size: 50%;
    opacity: 50%;
}

main > section[id] .container .container__display.container__display--type.container__display--type--platinum span{
    font-family: "Jubilee Platinum";
}

main > section[id] .container .container__display.container__display--type.container__display--type--silver span{
    font-family: "Jubilee";
}

main > section[id] .container .container__display .container__display--type__item.container__display--type__item--upper{
    text-transform: uppercase;
}

main > section[id] .container .container__display.container__display--color .container__display--color__item{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

main > section[id] .container .container__display.container__display--color .container__display--color__item.container__display--color__item--bg1{
    background: var(--bg-color1);
    border: 1px solid var(--bg-color2);
}

main > section[id] .container .container__display.container__display--color .container__display--color__item.container__display--color__item--bg2{
    background: var(--bg-color2);
}

main > section[id] .container .container__display.container__display--color .container__display--color__item.container__display--color__item--text{
    background: var(--text-primary);
    color: var(--bg-color1);
}

main > section[id] .container .container__display.container__display--color .container__display--color__item.container__display--color__item--accent1{
    background: var(--accent1);
}

main > section[id] .container .container__display.container__display--color .container__display--color__item.container__display--color__item--accent2{
    background: var(--accent2);
}

main > section[id] .container .container__display.container__display--color .container__display--color__item.container__display--color__item--accent3{
    background: var(--accent3);
}

main > section[id] .container .container__display .container__display--grid__wrapper{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
}

main > section[id] .container .container__display .container__display--grid__wrapper--desktop{
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

main > section[id] .container .container__display .container__display--grid__item{
    min-height: 4rem;
    background: var(--bg-color2);
    display: flex;
    justify-content: center;
    align-items: center;
}

main > section[id] .container .container__display{
    grid-column: 1/-1;
}

main > section[id] .container .container__display .container__display--spacing{
    grid-column: 3/-1;
}

main > section[id] .container .container__display .container__display--spacing__item{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    margin-bottom: 1rem;
}

main > section[id] .container .container__display.container__display--spacing .container__display--spacing__item__sample{
    background: var(--bg-color2);
}

main > section[id] .container .container__display.container__display--spacing .container__display--spacing__item__sample.container__display--spacing__item__sample--1{
    width: 0.5rem;
    height: 0.5rem;
}

main > section[id] .container .container__display--spacing .container__display--spacing__item__sample.container__display--spacing__item__sample--2{
    width: 1rem;
    height: 1rem;
}

main > section[id] .container .container__display.container__display--spacing .container__display--spacing__item__sample.container__display--spacing__item__sample--3{
    width: 1.5rem;
    height: 1.5rem;
}

main > section[id] .container .container__display.container__display--spacing .container__display--spacing__item__sample.container__display--spacing__item__sample--4{
    width: 2rem;
    height: 2rem;
}

main > section[id] .container .container__display.container__display--spacing .container__display--spacing__item__sample.container__display--spacing__item__sample--5{
    width: 3rem;
    height: 3rem;
}


/*edits made by alex*/
input[type="radio"] {
    -webkit-appearance: none;
    appearance:none;
    background-color:transparent;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 0.5rem;
    height: 0.5rem;
    border: 0.08em solid currentColor;
    border-radius: 100%;
    transform: translateY(0.200rem);
    display:grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 100%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--text-primary);
}

input[type="radio"]:checked::before{
    transform: scale(0.25);
}

.form-control + .form-control {
    margin-top: 1em;
}

/* input text field */

.text__input{
    outline: 0;
    border-width: 0 0 0.125rem;
    border-color: white;
    background-color:transparent;
    color: var(--text-primary);
}

.input__radio__overlay{
    display:flex;
    gap: 0.5rem;
}
/*edits made by alex*/


.container__product__page__details{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


a:hover{
  text-decoration: underline;
}

.div__menu--spacing1{
    margin-top: 15rem;
}

.div__menu--spacing2{
    margin-top: 4rem;
}

.div__menu--listing{
    list-style: none;
    padding: 0;
}

.menu-grid{
    display:grid;
    grid-template-columns: repeat(6, 1fr); /* Assuming 6 columns */
    gap: 1rem;
}



@media screen and (min-width: 36rem) {

    main > section.hero .hero__location{
        grid-template-columns: repeat(6, minmax(0, 1fr));
        gap : 1rem;
    }

    /*edits made by alex*/
    .container__grid--3{
        display:grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: 3fr;
        gap: 1rem;
        max-width: 40.8125rem;

    }

    .container__grid--2{
        display:grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: 2fr;
        gap: 1rem;
        max-width: 55.0625rem;
        margin-top:5rem;

    }



    /*edits made by alex*/

    h2, .h2{
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }

    body.style main{
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        grid-template-rows: 1fr;
        gap: 1rem;
        margin: 0 auto;
    }

    body.style main{
        max-width: 75rem;
    }

    body.style > main > section{
        grid-column: 2/-1;
    }


    body.style .nav{
        position: sticky;
        top: 2rem;
    }
    
    body.style .nav__overlay{
        position: absolute;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    body:not(.style) main > section{
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        grid-template-rows: 1fr;
        gap: 1rem;
        margin: 0 auto;
    }

    .nav .nav__overlay .nav__overlay__logo {
        font-size: min(2.5vw, 1.25rem);
    }

    .nav .nav__overlay__wrapper {
        margin-top: 0;
        display: flex;
        position: static;
        padding: 1rem 0;
        /* flex-direction: row; */
    }

    .nav .nav__overlay__wrapper .nav__overlay__wrapper__items,
    .nav .nav__overlay__wrapper .nav__overlay__wrapper__items ul {
        flex-direction: row;
    }

    body.style .nav .nav__overlay__wrapper .nav__overlay__wrapper__items,
    body.style .nav .nav__overlay__wrapper .nav__overlay__wrapper__items ul {
        flex-direction: column;
    }

    .nav .nav__overlay button.nav__overlay__menu{
        display: none;
    }
    
    main > section[id] .container .container__desc,
    main > section[id] .container .container__display{
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        gap: 1rem;
    }
    main > section[id] .container .container__display--no_gap{
        gap: 0;
    }

    body.style main > section[id] .container .container__desc *:nth-child(2){
        grid-column: 1/2;
    }

    body.style main > section[id] .container .container__desc *:not(:nth-child(2)){
        grid-column: 3/-1;
    }

    body.style main > section[id] .container .container__desc .container__desc__divider{
        grid-column: 1/-1;
    }

    body.style main > section[id] .container .container__display.container__display--color{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min(40vw, 20rem) 1fr 1fr 1fr;
    }

    body.style main > section[id] .container .container__display.container__display--color .container__display--color__item.container__display--color__item.container__display--color__item--text{
        grid-row: 2/4
    }

    body.style main > section[id] .container .container__display.container__display--color .container__display--color__item.container__display--color__item--accent3{
       grid-column: 1/-1;
    }

    body.style main > section[id] .container .container__display .container__display--spacing__item{
        margin-bottom: 0;
        grid-column: 3/-1;
    }
}

@media screen and (min-width: 48rem) {
    h1, .h1{
        font-size: 4rem;
        margin-bottom: 0.5rem;
    }
}

@media screen and (min-width: 62rem) {
    body:not(.style) main > section h1.h1--hero,
    .h1.h1--hero{
        grid-column: 1/5;
    }

    body.style main > section[id] .container .container__display.container__display--color{
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    body.style main > section[id] .container .container__display .container__display--color__item{
        grid-column: span 2;
    }

    body.style main > section[id] .container .container__display.container__display--color .container__display--color__item.container__display--color__item--accent3{
        grid-column: 1/-2;
     }

    body.style main > section[id] .container .container__desc *:not(:nth-child(2)),
    body.style  main > section[id] .container .container__display .container__display--spacing__item{
        grid-column: 3/-2;
    }

    body.style main > section[id] .container .container__desc .container__desc__divider{
        grid-column: 1/-2;
    }

    body.style main > section[id] .container .container__display .container__display--grid__wrapper{
        grid-column: 1/-2;
    }
}

@media screen and (min-width: 90rem) {
    body:not(.style) main > section h1.h1--hero,
    .h1.h1--hero{
        grid-column: 1/4;
    }
}


/* sab edits */
.button{
    border: 1px solid var(--bg-color2);
    background-color: transparent;
    text-align: center;
    margin: 4px 2px;
    color:var(--bg-color2);
    padding: 0.5rem 2rem;
    border-radius: 0.8125rem;
    font-family: "Jubilee Platinum";
    font-size: medium;
    transition: all 0.3s ease-out;
}

.button:hover, .button:focus, .button:active{
    background-color: var(--bg-color2);
    color: var(--bg-color1);
    border: 1px solid var(--bg-color1);
}

a{
    color: var(--bg-color2);
    text-decoration: none;
}

/* divder line between the components */
.sectionLine{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* diveder line under the big headings */
.topSectionLine{
    margin-bottom: 2rem;;
}


/* sabs edits pt 2 */

/* for the longer input fields */
.text__input_long{
    outline: 0;
    border:none;
    border-bottom: 2px solid var(--text-primary);
    background-color: transparent;
    color: var(--text-primary);
}

.label__text__input{
    display:block;
    width: 100%;
    margin-bottom: 1em;
}

/* drop down form */
.text__input_drop{
    outline: 0;
    border-width: 0 0 0.125rem;
    border-color: var(--text-primary);
    background-color:transparent;
    color: var(--text-primary);
    padding-left: 0.5rem;
}

.text__input_drop:hover, .text__input_drop:focus, .text__input_drop:active{
    transition: all 0.3s ease-out;
    border-radius: 0.8125rem;
    background-color: var(--text-primary);
    color: var(--bg-color1);
    border: 1px solid var(--bg-color1);
}

/* payment grid*/
.grid-con {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    grid-template-rows: auto;
    /* background-color: #555555; */
}

/* contact items */
.itemLeft{
    /* background: rebeccapurple; */
    grid-column: 1;
}

.itemRight{
    /* background: var(--accent1); */
    grid-column: 2;
}

.itemLong{
    /* background:#6C4941; */
    grid-column: 1/ -1;
}

.h3-payment{
margin-top:3rem;
}

/* Checkout grid*/
.checkout-grid {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    gap: 1rem;
    grid-template-rows: auto;
    align-items: center;
    /* background-color: #555555; */
}

.itemAmount{
    /* background:#6C4941; */
    grid-column: 1;
}

.itemName{
    /* background:#6C4941; */
    grid-column: 2;
}

.itemCost{
    /* background:#6C4941; */
    grid-column: 3;
}

.itemRemove{
    /* background:#6C4941; */
    grid-column: 4;
}


/* header grid */
.header-grid {
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* gap: 1rem; */
    grid-template-rows: auto;
    align-items: center;
    /* background-color: #555555; */
}
